{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "babel",
    "@typescript-eslint",
    "react",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    // Указываем версию ECMAScript
    "sourceType": "module"
    // Включить модульную поддержку кода ECMAScript
  },
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/explicit-module-boundary-types" : 0,
    "react/prop-types": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "singleQuote": true,
        "semi": false
      }
    ]
  }
}    