.formsControls.error input,
.formsControls.error textarea {
    border: solid 2px red;
}

.formsControls span {
    color: red;
}

.formsCommonError {
    border: solid 2px red;
    color: red;
    padding: 4px;
    margin-top: 7px;
    display: inline-block;
}